modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[userenv]

[userenv.shared]
GROUP_CHAT_ID = "-1003916887393"
OWNER_CHAT_ID = "1735522859"
BOT_TOKEN = "8601464784:AAEE85abYn10yWmhzfrbjpNXb0xEoHxtrLg"
